<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<EventId>68616d90-cf72-4c2a-b913-32bf6e6506ed</EventId>
		<EventType>MyEvent</EventType>
		<Data>
			<Base64>eyAibXktZXZlbnQiOiB7ICJpZCI6ICAiNjg2MTZkOTAtY2Y3Mi00YzJhLWI5MTMtMzJiZjZlNjUwNmVkIiwgImRlc2NyaXB0aW9uIjogIkhlbGxvLCBKU09OISIgfSB9</Base64>
		</Data>
		<MetaData>
			<EscUserMeta>
				<my-meta>
					<user>abc</user>
				</my-meta>
			</EscUserMeta>
			<EscSysMeta>
				<data-content-type>application/json; version=1; encoding=utf-8;transfer-encoding=base64</data-content-type>
				<meta-content-type>application/xml; version=1; encoding=utf-8</meta-content-type>
				<meta-type>MyMeta</meta-type>
			</EscSysMeta>
		</MetaData>
	</Event>
	<Event>
		<EventId>c198a02e-126e-4fbb-910c-918abf39a4a6</EventId>
		<EventType>MyEvent</EventType>
		<Data>
			<my-event id="68616d90-cf72-4c2a-b913-32bf6e6506ed"	description="Hello, XML!" />
		</Data>
		<MetaData>
			<EscUserMeta>
				<my-meta>
					<user>abc</user>
				</my-meta>
			</EscUserMeta>
			<EscSysMeta>
				<data-content-type>application/xml; version=1; encoding=utf-8</data-content-type>
				<meta-content-type>application/xml; version=1; encoding=utf-8</meta-content-type>
				<meta-type>MyMeta</meta-type>
			</EscSysMeta>
		</MetaData>
	</Event>
</Events>